AuthenticateSASL with bouncer error 

Hi!

After migrating to .Net 5 (maybe this is not the reason) we start having error while connecting through bouncer.
If we are connecting direct to main instance AuthenticateSASL work as expected but when we are using bouncer port everything stop working at 
`var saslFinalServerMsg = Expect<AuthenticationSASLFinalMessage>(await ReadMessage(async), this);`
with 08P01: SASL authentication failed error.

What can be reason for this behavior?

Thanks!

We have this error both at 5.0.1 and 5.0.2 while everything looks fine at 3.1.4 and 3.1.6

Am not sure, but the only serious work on SASL for 5.0 seems to be https://github.com/npgsql/npgsql/issues/1922. @vonzshik are you up for investigating this?

Just checked https://github.com/npgsql/npgsql/commit/e88a2da745322b8fd60e320e34ca641655ec9bed commit and can't see any problems with new code.

I will try build and debug from sources, may be I will find out where problem is.

Thanks for digging into it, let us know if you have trouble building or testing. I'd try bisecting this to find which commit in 5.0 caused the regression - there wasn't a lot of actual work done in the SASL/auth area.

@roji sure, why not.

Note, that from PG documentation, `08P01` is `protocol_violation` error.

So I've reproduced old method and it works.
```csharp
async Task AuthenticateSASLOld(List<string> mechanisms, string username, bool async)
        {
            if (!mechanisms.Contains("SCRAM-SHA-256")) 
                throw new NpgsqlException("No supported SASL mechanism found (only SCRAM-SHA-256 is supported for now). " +
                                              "Mechanisms received from server: " + string.Join(", ", mechanisms));

            var mechanism = "SCRAM-SHA-256";
            var passwd = GetPassword(username) ??
                       throw new NpgsqlException($"No password has been provided but the backend requires one (in SASL/{mechanism})");

            // Assumption: the write buffer is big enough to contain all our outgoing messages
            var clientNonce = GetNonce();

            await WriteSASLInitialResponse(mechanism, PGUtil.UTF8Encoding.GetBytes("n,,n=*,r=" + clientNonce), async);
            await Flush(async);

            var saslContinueMsg = Expect<AuthenticationSASLContinueMessage>(await ReadMessage(async), this);
            if (saslContinueMsg.AuthRequestType != AuthenticationRequestType.AuthenticationSASLContinue)
                throw new NpgsqlException("[SASL] AuthenticationSASLFinal message expected");
            var firstServerMsg = AuthenticationSCRAMServerFirstMessage.Load(saslContinueMsg.Payload);
            if (!firstServerMsg.Nonce.StartsWith(clientNonce))
                throw new NpgsqlException("[SCRAM] Malformed SCRAMServerFirst message: server nonce doesn't start with client nonce");

            var saltBytes = Convert.FromBase64String(firstServerMsg.Salt);
            var saltedPassword = Hi(passwd.Normalize(NormalizationForm.FormKC), saltBytes, firstServerMsg.Iteration);

            var clientKey = HMAC(saltedPassword, "Client Key");
            byte[] storedKey;
            using (var sha256 = SHA256.Create())
                storedKey = sha256.ComputeHash(clientKey);

            var clientFirstMessageBare = "n=*,r=" + clientNonce;
            var serverFirstMessage = $"r={firstServerMsg.Nonce},s={firstServerMsg.Salt},i={firstServerMsg.Iteration}";
            var clientFinalMessageWithoutProof = "c=biws,r=" + firstServerMsg.Nonce;
            var authMessage = $"{clientFirstMessageBare},{serverFirstMessage},{clientFinalMessageWithoutProof}";

            var clientSignature = HMAC(storedKey, authMessage);
            var clientProofBytes = Xor(clientKey, clientSignature);
            var clientProof = Convert.ToBase64String(clientProofBytes);

            var serverKey = HMAC(saltedPassword, "Server Key");
            var serverSignature = HMAC(serverKey, authMessage);

            var messageStr = $"{clientFinalMessageWithoutProof},p={clientProof}";

            await WriteSASLResponse(Encoding.UTF8.GetBytes(messageStr), async);
            await Flush(async);

            var saslFinalServerMsg = Expect<AuthenticationSASLFinalMessage>(await ReadMessage(async), this);
            if (saslFinalServerMsg.AuthRequestType != AuthenticationRequestType.AuthenticationSASLFinal)
                throw new NpgsqlException("[SASL] AuthenticationSASLFinal message expected");

            var scramFinalServerMsg = AuthenticationSCRAMServerFinalMessage.Load(saslFinalServerMsg.Payload);
            if (scramFinalServerMsg.ServerSignature != Convert.ToBase64String(serverSignature))
                throw new NpgsqlException("[SCRAM] Unable to verify server signature");

            var okMsg = Expect<AuthenticationRequestMessage>(await ReadMessage(async), this);
            if (okMsg.AuthRequestType != AuthenticationRequestType.AuthenticationOk)
                throw new NpgsqlException("[SASL] Expected AuthenticationOK message");

            static string GetNonce()
            {
                using var rncProvider = RandomNumberGenerator.Create();
                var nonceBytes = new byte[18];

                rncProvider.GetBytes(nonceBytes);
                return Convert.ToBase64String(nonceBytes);
            }

            static byte[] Hi(string str, byte[] salt, int count)
            {
                using var hmac = new HMACSHA256(Encoding.UTF8.GetBytes(str));
                var salt1 = new byte[salt.Length + 4];
                byte[] hi, u1;

                Buffer.BlockCopy(salt, 0, salt1, 0, salt.Length);
                salt1[salt1.Length - 1] = 1;

                hi = u1 = hmac.ComputeHash(salt1);

                for (var i = 1; i < count; i++)
                {
                    var u2 = hmac.ComputeHash(u1);
                    Xor(hi, u2);
                    u1 = u2;
                }

                return hi;
            }

            static byte[] Xor(byte[] buffer1, byte[] buffer2)
            {
                for (var i = 0; i < buffer1.Length; i++)
                    buffer1[i] ^= buffer2[i];
                return buffer1;
            }

            static byte[] HMAC(byte[] data, string key)
            {
                using var hmacsha256 = new HMACSHA256(data);
                return hmacsha256.ComputeHash(Encoding.UTF8.GetBytes(key));
            }
        }
```

So now I'm trying to figure out where is the problem.

So the reason is in incorrect ?: operator:
```csharp
if (!successfulBind && supportsSha256)
            {
                mechanism = "SCRAM-SHA-256";
                // We can get here if PostgreSQL supports only SCRAM-SHA-256 or there was an error while binding to SCRAM-SHA-256-PLUS
                // So, we set 'n' (client does not support binding) if there was an error while binding
                // or 'y' (client supports but server doesn't) in other case
                cbindFlag = supportsSha256Plus ? "n" : "y";
                cbind = supportsSha256Plus ? "biws" : "eSws";
                successfulBind = true;
                IsScram = true;
            }
```

it should be like
```csharp
if (!successfulBind && supportsSha256)
            {
                mechanism = "SCRAM-SHA-256";
                // We can get here if PostgreSQL supports only SCRAM-SHA-256 or there was an error while binding to SCRAM-SHA-256-PLUS
                // So, we set 'n' (client does not support binding) if there was an error while binding
                // or 'y' (client supports but server doesn't) in other case
                cbindFlag = supportsSha256Plus ? "y" : "n";
                cbind = supportsSha256Plus ? "eSws : "biws";
                successfulBind = true;
                IsScram = true;
            }
```

Should I create pull request to fix it?

Sure, PRs are always welcome!

Thank you, will do it later from home.

Also can you tell me what is the best way to use fixed library in company's project? Should I wait for fix in main repo or fork it to my company's nuget?

Uh, I tried at some point to release a new patch version each month, but for now this duty belongs to @roji only. Therefore, there're two options for you from our side:
* Wait for the official release of the next patch,
* Use our [MyGet feed](https://www.myget.org/feed/npgsql/package/nuget/Npgsql) instead of NuGet.

Many thanks for tracking this down!

Yeah, as @YohDeadfall says, we upload CI nugets of every build to myget feeds - that should be a safe and easy way to get the fix before the release comes out on nuget.org.

> So the reason is in incorrect ?: operator:
> 
> ```cs
> if (!successfulBind && supportsSha256)
>             {
>                 mechanism = "SCRAM-SHA-256";
>                 // We can get here if PostgreSQL supports only SCRAM-SHA-256 or there was an error while binding to SCRAM-SHA-256-PLUS
>                 // So, we set 'n' (client does not support binding) if there was an error while binding
>                 // or 'y' (client supports but server doesn't) in other case
>                 cbindFlag = supportsSha256Plus ? "n" : "y";
>                 cbind = supportsSha256Plus ? "biws" : "eSws";
>                 successfulBind = true;
>                 IsScram = true;
>             }
> ```
> 
> it should be like
> 
> ```cs
> if (!successfulBind && supportsSha256)
>             {
>                 mechanism = "SCRAM-SHA-256";
>                 // We can get here if PostgreSQL supports only SCRAM-SHA-256 or there was an error while binding to SCRAM-SHA-256-PLUS
>                 // So, we set 'n' (client does not support binding) if there was an error while binding
>                 // or 'y' (client supports but server doesn't) in other case
>                 cbindFlag = supportsSha256Plus ? "y" : "n";
>                 cbind = supportsSha256Plus ? "eSws" :"biws";
>                 successfulBind = true;
>                 IsScram = true;
>             }
> ```

I'm not sure that's a correct fix. It's possible to get there if:
a) server supports SCRAM-SHA-256-PLUS, but certificate is hashed by an unsupported algorithm. In which case, we should send "n" (as in this case it's us who doesn't support SCRAM-SHA-256-PLUS)
b) server doesn't support SCRAM-SHA-256-PLUS, in which case we should send "y" (client supports, server doesn't), which is a failsafe against MITM attacks (the server is supposed to throw an exception then).

[RFC 5802 section 6](https://tools.ietf.org/html/rfc5802#section-6)


@euroUK what version of the bouncer are you using?

@vonzshik 

I don't know, it's on our production infrastructure and I don't have access there. I will ask our administrators tomorrow.

To be honest, I'm not 100% sure that this is correct fix. I will investigate more. First of all, it works OK without bouncer so I will start with comparing responses.

But anyway, code from 3.1.+ produces "c=biws" while current code "eSws" on the same bouncer.

The point being, this exact problem is fixed with version [1.12](https://github.com/pgbouncer/pgbouncer/releases/tag/pgbouncer_1_12_0)

It produces "c=eSws" (which is "y,,," in base64) because with 5.0 npgsql supports channel binding.

> The point being, this exact problem was fixed with version [1.12](https://github.com/pgbouncer/pgbouncer/releases/tag/pgbouncer_1_12_0)

Yes, it looks that direct connection is doing via channel binding. But, when channel binding is not available, should it produce "c=biws" message?

We have to by RFC 5802, which I did link above.

So I verified code and RFC 5802 and it looks that code is perfect aligned with document.

It looks like 3.1.x versions did not implement channel binding and always provide hard coded "n".

So I hope upgrading bouncer version will solve this problem.

@vonzshik Nikita, thank you for help!

@euroUK Yury, you're welcome!

While I'm closing this issue, feel free to post here if the upgrade doesn't help.